body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;    
}

.cooking-chamber {
    height: 250px;
    width: 300px;
    background-color: gray;
     background:
        -webkit-radial-gradient(#444 35%, transparent 36%),
        -webkit-radial-gradient(#444 35%, transparent 36%),
        black;
    background-position: 0 0, 8px 88px;
    background-size:16px 16px;
}