body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.cooking-chamber {
    background-color: gray;
    background:
        -webkit-radial-gradient(#444 35%, transparent 36%),
        -webkit-radial-gradient(#444 35%, transparent 36%),
        black;
    background-position: 0 0, 6px 6px;
    background-size:11px 11px;
    border: 2px solid #000;
    height: 250px;
    margin: 25px;
    width: 300px;
}

.cooking-chamber.running {
    background-color: yellow;
    background:
        -webkit-radial-gradient(yellow 35%, transparent 36%),
        -webkit-radial-gradient(yellow 35%, transparent 36%),
        darkgray;
    background-position: 0 0, 6px 6px;
    background-size:11px 11px;
}

.keys-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 85px;
}

.microwave-oven {
    background-color: gray;
    display: flex;
    height: 300px;
    width: 450px;
}

.microwave-side {
    border-left: 2px solid #000;
    padding-left: 5px;
}

.open-button {
    width: 100%;
}

.timer {
    background: black;
    color: blue;
    font-family: 'Orbitron', sans-serif;
    margin: 25px auto;
    padding: 14px 5px;
}

.start-key, .stop-key {
    display: inline-block;
}
